// $font-color: #222222;
// $background: #f4ede8;
// $isabelline: #f2ede7ff;
// $bistre: #40251eff;

// $red: #f28b82 !default;
// $pink: #f4c7e1 !default;
// $purple: #d7aefb !default;
// $deep-purple: #cbb6f7 !default;
// $indigo: #a7bdf9 !default;
// $blue: #8ab4f8 !default;
// $light-blue: #a9c2ca !default;
// $cyan: #a1e4f2 !default;
// $teal: #99c5c0 !default;
// $green: #a2e9a5 !default;
// $light-green: #d7f9b5 !default;
// $lime: #e6ee9b !default;
// $yellow: #fff9c4 !default;
// $amber: #ffe0b2 !default;
// $orange: #ffcc80 !default;
// $deep-orange: #ffab91 !default;
// $brown: #bcaaa4 !default;
// $grey: #eeeeee !default;
// $blue-grey: #b0bec5 !default;

$color_1: #99c5c0;


$isabelline: #f2ede7ff;
$bistre: #40251e;
$font-color: #222222;
$background: #f4ede8;

$red: #e57373 !default;
$pink: #f06292 !default;
$purple: #ba68c8 !default;
$deep-purple: #9575cd !default;
$indigo: #5c6bc0 !default;
$blue: #42a5f5 !default;
$light-blue: #29b6f6 !default;
$cyan: #26c6da !default;
$teal: #26a69a !default;
$green: #66bb6a !default;
$light-green: #9ccc65 !default;
$lime: #d4e157 !default;
$yellow: #ffee58 !default;
$amber: #ffca28 !default;
$orange: #ffa726 !default;
$deep-orange: #ff7043 !default;
$brown: #8d6e63 !default;
$grey: #bdbdbd !default;
$blue-grey: #78909c !default;

$primary: $blue !default;
$secondary: $teal !default;
$success: $green !default;
$danger: $red !default;
$warning: $amber !default;
$info: $cyan !default;
$light: $isabelline !default;
$dark: $bistre !default;

$color:#ba68c8;
