$color_1: #366d6a;

$isabelline: #d1ccc7;
$bistre: #4a3b33;
$background: #121212;
$font-color: #f4ede8;

$red: #b71c1c !default;
$pink: #c2185b !default;
$purple: #7b1fa2 !default;
$deep-purple: #512da8 !default;
$indigo: #303f9f !default;
$blue: #1565c0 !default;
$light-blue: #0277bd !default;
$cyan: #00838f !default;
$teal: #00695c !default;
$green: #2e7d32 !default;
$light-green: #558b2f !default;
$lime: #9e9d24 !default;
$yellow: #f9a825 !default;
$amber: #ff8f00 !default;
$orange: #ef6c00 !default;
$deep-orange: #d84315 !default;
$brown: #5d4037 !default;
$grey: #424242 !default;
$blue-grey: #37474f !default;

$primary: $blue !default;
$secondary: $teal !default;
$success: $green !default;
$danger: $red !default;
$warning: $amber !default;
$info: $cyan !default;
$light: $isabelline !default;
$dark: $bistre !default;

