// Original
// $blue: #a4c4eb;
// $indigo: #b299e4;
// $purple: #b8a3d7;
// $pink: #f6cfb7;
// $red: #e8a1a8;
// $orange: #f7b085;
// $yellow: #f7e3a1;
// $green: #b2d3a3;
// $teal: #a8d3cc;
// $cyan: #cce6e4;

$white: #f3eee8;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #343434;

//Intensa_1
// $blue: #8ab4e2;
// $indigo: #9d87d7;
// $purple: #a68ac7;
// $pink: #e5b39f;
// $red: #d68b92;
// $orange: #e99a6a;
// $yellow: #efd387;
// $green: #9fbe8c;
// $teal: #8bc2b9;
// $cyan: #b5d4d2;

//Brillante
$blue: #72a6e0;
$indigo: #8b72cc;
$purple: #9572bf;
$pink: #e5b09e;
$red: #e08b9b;
$orange: #f1996a;
$yellow: #f6d689;
$green: #a5cc87;
$teal: #8dc5b4;
$cyan: #b5dedb;

// intensa_2
// $blue: #729ccd;
// $indigo: #856fc4;
// $purple: #8d73b0;
// $pink: #d49d8a;
// $red: #bf7381;
// $orange: #d28252;
// $yellow: #d8bd6f;
// $green: #87a776;
// $teal: #73ab9f;
// $cyan: #9ebcbc;

// $white: #f0e8dc;
// $gray-100: #f1f3f5;
// $gray-200: #e1e4e6;
// $gray-300: #d0d3d6;
// $gray-400: #bec3c6;
// $gray-500: #a1a8ab;
// $gray-600: #73787b;
// $gray-700: #4f5456;
// $gray-800: #353a3c;
// $gray-900: #242829;
// $black: #242829;

// // Intensa_3
// $blue: #597eb7;
// $indigo: #6c57b1;
// $purple: #745b99;
// $pink: #c48775;
// $red: #a75c69;
// $orange: #bc6b39;
// $yellow: #c2a757;
// $green: #6f915f;
// $teal: #5b9586;
// $cyan: #86a3a3;

// $white: #ece3d0;
// $gray-100: #eaebed;
// $gray-200: #d2d5d8;
// $gray-300: #b9bcbf;
// $gray-400: #9ea3a6;
// $gray-500: #81878a;
// $gray-600: #565a5d;
// $gray-700: #3b3f41;
// $gray-800: #2a2d2e;
// $gray-900: #1c1e1f;
// $black: #1c1e1f;

