$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d9b097;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #7a945c;
$teal: #5c8e8c;
$cyan: #769c99;

$white: #343434;
$gray-100: #343a40;
$gray-200: #495057;
$gray-300: #6c757d;
$gray-400: #adb5bd;
$gray-500: #ced4da;
$gray-600: #dee2e6;
$gray-700: #e9ecef;
$gray-800: #f8f9fa;
$gray-900: #f3eee8;
$black: #f3eee8;

