// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
// Variables
@import 'fonts';
@import 'functions';
@import '~sweetalert2/dist/sweetalert2.min.css';

@import 'colors/variables-dark';
@import 'colors/variables-light';

.lh-0 {
  line-height: 0 !important;
}

.v-application.v-theme--dark #body-app {
  background-image: url('../../public/img/fondo-dark.png');
  background-repeat: repeat;
  //   filter: invert(100%);
}
.v-application.v-theme--light #body-app {
  background-image: url('../../public/img/fondo.jpg');
  background-repeat: repeat;
  //   filter: invert(100%);
}

.v-text-field .v-input__details {
  padding-inline: 0px !important;
}

#loginPanel {
  background-image: url('../../public/img/fondo.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

#registerPanel {
  background-image: url('../../public/img/fondo.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.d-grid {
  display: grid;
}
